# git custom setup
LaTeX/毕业论文模板/
Python/
电子系统设计/
数学电子技术与微处理器/数学电子技术/数电实验/
数学电子技术与微处理器/微处理器/实验/
思修马哲毛概近纲/
行政材料/
选修课/体育课/
选修课/英语/TOFEL/
选修课/英语/考研英语真题/
选修课/英语/欧陆扩展/
学科竞赛/
区块链技术/
电力系统分析教材.pdf
电力系统暂态分析教材.pdf
模拟电子技术基础.pdf
*.caj
*.zip
*.rar
*.7z
*.mp4
*.exe

# git ignore for javascript project
# Numerous always-ignore extensions  
*.bak  
*.patch  
*.diff  
*.err  

# temp file for git conflict merging  
*.orig  
*.log  
*.rej  
*.swo  
*.swp  
*.zip  
*.vi  
*~  
*.sass-cache  
*.tmp.html  
*.dump  

# OS or Editor folders  
.DS_Store  
._*  
.cache  
.project  
.settings  
.tmproj  
*.esproj  
*.sublime-project  
*.sublime-workspace  
nbproject  
thumbs.db  
*.iml  

# Folders to ignore  
.hg  
.svn  
.CVS  
.idea  
node_modules/  
jscoverage_lib/  
bower_components/  
dist/  

# git ignore for Vivado Project
# Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif

# IP files
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
!*.dcp
!*.vds
!*.pb
# All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc

# System Generator
!*.mdl
!*.slx
!*.bxml

# Simulation logic analyzer
!*.wcfg
!*.coe

# MIG
!*.prj
!*.mem

# Project files

# XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
# Do NOT ignore *.xpr files
!*.xpr
# Include *.xml files for 2013.4 or earlier version
!*.xml

# Constraint files
# Do NOT ignore *.xdc files
!*.xdc

# TCL - files
!*.tcl

# Journal - files
!*.jou

# Reports
!*.rpt
!*.txt
!*.vdi

# C-files
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp

# git ignore for Keil Project
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex

# git ignore for Matlab Project
# ignore slprj folder
*/slprj/
/slprj/

# ignore following files;
*asv
*slxc
*mexmaci64
*mexmaci32
*mexw32
*mexw64

# git ignore for Python Project
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# test module
/test/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
.idea/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# git ignore for LaTeX Project
.DS_Store
.texpadtmp
main.pdf
draft*.pdf
~$figures.pptx

*.synctex(busy)
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.out